@charset "UTF-8";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 75%;
  width: 50%;
  position: absolute;
  left: 0%;
}

#loading-spinner {
  display: block;
  height: 75%;
  width: 50%;
  position: absolute;
  left: 0%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}

#img-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top: -20px;
}

#form {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0%;
}

#latlong {
  height: 180px;
  width: 100%;
  position: absolute;
  top: 0%;
}

#lbl-north-lat {
	width: 150px;
	position: absolute;
	top: 15px;
	left: 225px;
}

#input-north-lat {
	width: 100px;
	position: absolute;
	top: 50px;
	left: 225px;
}

#lbl-west-long {
	width: 150px;
	position: absolute;
	top: 50px;
	left: 75px;
}

#input-west-long {
	width: 100px;
	position: absolute;
	top: 85px;
	left: 75px;
}

#lbl-east-long {
	width: 100px;
	position: absolute;
	top: 50px;
	left: 375px;
}

#input-east-long {
	width: 100px;
	position: absolute;
	top: 85px;
	left: 375px;
}

#lbl-south-lat {
	width: 150px;
	position: absolute;
	top: 90px;
	left: 225px;
}

#input-south-lat {
	width: 100px;
	position: absolute;
	top: 125px;
	left: 225px;
}

#site-attributes {
  height: 75%;
  width: 100%;
  position: absolute;
  top: 180px;
}

#lbl-country {
	width: 125px;
	position: absolute;
	top: 0px;
	left: 155px;
}

#select-country {
	width: 125px;
	height: 100px;
	position: absolute;
	top: 15px;
	left: 220px;
}

#lbl-state {
	width: 150px;
	position: absolute;
	top: 125px;
	left: 110px;
}

#select-state {
	width: 125px;
	position: absolute;
	top: 135px;
	left: 220px;
}

#lbl-collection-date {
	width: 150px;
	position: absolute;
	top: 225px;
	left: 100px;
}

#input-collection-date-from {
	width: 75px;
	position: absolute;
	top: 235px;
	left: 215px;
}

#lbl-collection-date-to {
	width: 50px;
	position: absolute;
	top: 225px;
	left: 310px;
}

#input-collection-date-to {
	width: 75px;
	position: absolute;
	top: 235px;
	left: 340px;
}

#lbl-elevation {
	width: 100px;
	position: absolute;
	top: 280px;
	left: 140px;
}

#input-elevation-from {
	width: 75px;
	position: absolute;
	top: 290px;
	left: 215px;
}

#lbl-elevation-to {
	width: 50px;
	position: absolute;
	top: 280px;
	left: 310px;
}

#input-elevation-to {
	width: 75px;
	position: absolute;
	top: 290px;
	left: 340px;
}

#lbl-type {
	width: 75px;
	position: absolute;
	top: 325px;
	left: 170px;
}

#select-type {
	width: 125px;
	height: 165px;
	position: absolute;
	top: 340px;
	left: 215px;
}

#lbl-d2h {
	width: 75px;
	position: absolute;
	top: 515px;
	left: 160px;
}

#input-d2h {
	width: 20px;
	position: absolute;
	top: 530px;
	left: 195px;
}

#lbl-d18o {
	width: 75px;
	position: absolute;
	top: 515px;
	left: 285px;
}

#input-d18o {
	width: 20px;
	position: absolute;
	top: 530px;
	left: 325px;
}

#btn-submit {
	width: 75px;
	position: absolute;
	top: 600px;
	left: 150px;
}

#btn-reset {
	width: 75px;
	position: absolute;
	top: 600px;
	left: 275px;
}

.btn-project {	
	width: 100px;
	position: relative;
	bottom: 32px;
	left: 175px;
}

.btn-download-data {
	width: 120px;
}

#div-info-window-container {
	width: 320px;
	height: 230px;
	display: block;
}

#div-project-data {
	width: 300px;
	height: 230px;
	display: block;
}

p.sample-site-name {
	border-bottom: 2px solid grey;
}

p.sample-data {
	margin-left: 50px;
	text-indent: -25px;
}

hr.sample-separator {
	border-style: inset;
	border-width: 1px;
	border-color: grey;
	width: 280px;
}