@charset "UTF-8";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 75%;
  width: 50%;
  position: absolute;
  left: 0%;
}

#form {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0%;
}

#latlong {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0%;
}

#lbl-north-lat {
	width: 150px;
	position: absolute;
	top: 15px;
	left: 225px;
}

#input-north-lat {
	width: 100px;
	position: absolute;
	top: 50px;
	left: 225px;
}

#lbl-west-long {
	width: 150px;
	position: absolute;
	top: 50px;
	left: 75px;
}

#input-west-long {
	width: 100px;
	position: absolute;
	top: 85px;
	left: 75px;
}

#lbl-east-long {
	width: 100px;
	position: absolute;
	top: 50px;
	left: 375px;
}

#input-east-long {
	width: 100px;
	position: absolute;
	top: 85px;
	left: 375px;
}

#lbl-south-lat {
	width: 150px;
	position: absolute;
	top: 90px;
	left: 225px;
}

#input-south-lat {
	width: 100px;
	position: absolute;
	top: 125px;
	left: 225px;
}

#site-attributes {
  height: 75%;
  width: 100%;
  position: absolute;
  top: 200px;
}

#lbl-country {
	width: 125px;
	position: absolute;
	top: 10px;
	left: 150px;
}

#select-country {
	width: 100px;
	position: absolute;
	top: 25px;
	left: 275px;
}

#lbl-state {
	width: 150px;
	position: absolute;
	top: 100px;
	left: 150px;
}

#select-state {
	width: 100px;
	position: absolute;
	top: 115px;
	left: 275px;
}

#lbl-collection-date {
	width: 150px;
	position: absolute;
	top: 190px;
	left: 150px;
}

#input-collection-date-from {
	width: 75px;
	position: absolute;
	top: 230px;
	left: 150px;
}

#input-collection-date-to {
	width: 75px;
	position: absolute;
	top: 230px;
	left: 275px;
}

#lbl-elevation {
	width: 150px;
	position: absolute;
	top: 255px;
	left: 150px;
}

#input-elevation-from {
	width: 75px;
	position: absolute;
	top: 295px;
	left: 150px;
}

#input-elevation-to {
	width: 75px;
	position: absolute;
	top: 295px;
	left: 275px;
}

#lbl-type {
	width: 75px;
	position: absolute;
	top: 325px;
	left: 150px;
}

#select-type {
	width: 100px;
	height: 165px;
	position: absolute;
	top: 340px;
	left: 225px;
}

#lbl-d2h {
	width: 75px;
	position: absolute;
	top: 515px;
	left: 150px;
}

#input-d2h {
	width: 75px;
	position: absolute;
	top: 530px;
	left: 225px;
}

#lbl-d18o {
	width: 75px;
	position: absolute;
	top: 555px;
	left: 150px;
}

#input-d18o {
	width: 75px;
	position: absolute;
	top: 570px;
	left: 225px;
}

#btn-submit {
	width: 75px;
	position: absolute;
	top: 650px;
	left: 150px;
}

#btn-reset {
	width: 75px;
	position: absolute;
	top: 650px;
	left: 275px;
}