body { color: #000; font-size: 10pt; font-family: Verdana; line-height: 14pt; }
h4 { color: #000; font-size: 10pt; font-family: Verdana; font-weight: bold; line-height: 12pt; }
h2 { color: #f60; font: italic small-caps bold 11pt/12pt Verdana; font-size-adjust: 0; text-transform: none; }
h3 { color: #03f; font: bold 10pt/12pt Verdana; font-size-adjust: 0; text-decoration: none; text-transform: none; }
p { color: #000; font-size: 10pt; font-family: Verdana; line-height: 14pt; }
td { color: #000; font-size: 10pt; font-family: Verdana; line-height: 12pt; }
a:link { color: #f90; font-size: 10pt; font-family: Verdana; line-height: 14pt; text-decoration: underline; }

a:visited { color: #0cc; font-size: 10pt; font-family: Verdana; line-height: 14pt; text-decoration: underline; }

a:hover { }

a:active { }
